.links{
  width: 26%;
  display:flex;
  justify-content: space-around;
  cursor:pointer;

}
.navLog{
  color:green!important;
  cursor: pointer;
}
.log{
 font-size: 22px;
 color:#11c8c8;
}
nav{
 background-color: gray;
}

.image{
 width:30px;
 height:30px;
 cursor:pointer;
 margin-top:17px;
 margin-right:20px;
}

.brand-logo{
 margin-left:20px;
}
