.login{
    margin-top:100px;
}
.login  .card{
   background: rgba(0, 0, 0, .6);
}

.login label{
    font-size:16px;
    color: #ccc;
}
.login input{
    font-size:20px !important;
    color:#fff;
}
.login .card-action{
    background: #03a1a1;
}
.user{
    color:white;
    font-size: 20px;
}